@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    background-color: rgba(80, 80, 80, 0.1);
}

h1#titulo {
    font-size: 16px;
    text-align: center;
}

table#tabela {
    border: 3px solid rgba(0, 0, 255, 0.2);
    box-shadow: 5px 5px 5px;
    border-radius: 25px;
    padding: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

td.cabecalho {
    background-color: rgba(0, 116, 122, 0.4);
    font-size: 50pt;
    color: #ffffff;
    border-color: rgba(0, 116, 122);
}

td#minima {
    background-color: rgba(0, 116, 122, 0.4);
    font-size: 50pt;
    color: rgba(0, 12, 237, 0.6);
    border-color: rgba(0, 116, 122);
}

td.minima {
    color: rgba(0, 12, 237, 0.6);
    border-color: rgba(0, 116, 122);
}

td#maxima {
    background-color: rgba(0, 116, 122, 0.4);
    font-size: 50pt;
    color: rgba(255, 67, 0, 0.8);
    border-color: rgba(0, 116, 122);
}

td.maxima {
    color: rgba(255, 0, 0, 0.8);
    border-color: rgba(0, 116, 122);
}

tr {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    border-color: rgba(0, 116, 122);
}

table h1 {
    font-size: 18pt;
    font-weight: bolder;

}

table h2 {
    font-size: 15pt;
}

table td {
    border: 1px dotted black;
    text-align: center;
    padding: 0px 20px;
    border-color: rgba(0, 116, 122);
}

table td.unicode {
    font-size: 40pt;
}

h2#fonte {
    text-align: center;
    font-size: 8pt;
    font-weight: 0;
}